body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; 
    font-family: "Roboto", sans-serif; 
    color: dimgray; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

a {
    color: dimgray;
    font-size: 20px;
    text-decoration: none;
    font-weight: 850;
    padding: 25px;
    display: inline-block; 
    transition: color 0.3s ease; 
}

a:hover {
    color: rgb(14, 2, 145);
}
